@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto+Slab:wght@200;400;500;700;900&display=swap');

.App {
  text-align: center;
}


body{
  font-family: 'Roboto Slab', serif;
}

.navBar{
  height: 3rem;
  background-color: rgb(182, 180, 180);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  box-shadow: 0px 4px 4px rgba(12, 0, 0, 0.7);
}

.myLogo{
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
 
}

.nav{
  display: flex;
 align-items: center;
 justify-content: space-around;
 width: 60%;
}

li{
  list-style: none;
  font-size: 0.7rem;
}

.img{
height: 20rem;
}

.img-mobile {
  max-width: 100%; 
  height: auto; 

}

h5{
  font-weight: 700;
  font-size: 2rem;
}

.nameBio{
  text-align: left;
  width: 100%;
}

.name{
  font-weight: 900;
  font-size: 4rem;
  flex: 1;
  padding-right: 20px;
}

.bioDiv{
background-color: rgb(230, 229, 229);
padding: 4rem;
display: flex;
align-items: center;
justify-content: space-between;
}

.myImg{
  height: 30%;
  width: 100%;
  max-width: 400px;
}

.occupation{
  font-weight: 700;
  font-size: 1.5rem;
  margin-top: -1.5rem;
}

.bioDiv-mobile {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nameBio-mobile {
  text-align: center;
  margin-bottom: 20px;
}

.myImg-mobile {
  width: 100%;
  max-width: 300px;
}

.linkedin{
  margin-left: 2rem;
}

.aboutDiv{
text-align: left;
padding: 4rem;
display: flex;
align-items: center;
justify-content: center;
}
.aboutText{
  width: 50%;
}

.frameimg{
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

.frameimg {
  animation: bounce 1.2s ease-in-out infinite;
}

.container{
  height: 9rem;
  /* background-color: rgb(230, 229, 229); */
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: -1.3rem;
padding-top: 2rem;
}
.langFrameTitle{
  /* background-color: rgb(230, 229, 229); */
  padding: 1rem;
  padding-top: 2rem;
}



.projectMainContainer{
  margin-top: 4rem;
  align-items: center;
  justify-content: center;
}

.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 17px; 
  padding: 1rem;
}

.projImg{
  height: 20rem;
  width: 30%;
}

.projImg:hover{
  transform: scale(0.9);
  border-radius: 1rem;
  transition: ease-in-out .5s;
}


.cardContent {
  position: relative;
}

.buttonContainer {
 margin-top: 2rem;
}


footer{
  margin-top: 1rem;
  background-color: rgb(7, 103, 247);
 padding-top: 1rem;
}

.footerIconDiv{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 1rem;
}

h6{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 200;
  color: rgb(249, 251, 253);
}

@media (max-width: 800px) {
  .container {
    flex-wrap: wrap;
  }
  .bioDiv-mobile{
    background-color: rgb(230, 229, 229);
    padding: 2rem;
    }

  .aboutDiv-mobile{
padding: 1rem;
margin-top: 3rem;
  }


  .frameimg {
    width: 2rem;
    height: 2rem;
    margin: 5px;
  }

  .projects-mobile{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 17px; 
    padding: 2rem;
  }

  h5{
    font-weight: 700;
    font-size: 1.5rem;
  }

  .myImg-mobile{
    height: 13rem;
    width: 13rem;
    margin-left: 5rem;
  }

  .name-mobile{
    font-size: 2rem;
  }
}